<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="0.0.1" package="com.jarredcapellman.amlids" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="28" />
	<application android:label="AMLIDS" android:icon="@mipmap/icon"></application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
</manifest>